<div class="bigDiv" fxLayoutAlign="center center" fxFill>
  <img src="/src/assets/image/background2.png">
  <mat-card fxFlex="27" class="card">
      <mat-toolbar color="warn" fxLayoutAlign="center center" class="toolbar">Sign in</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column">
          <mat-form-field>
            <mat-label >Username</mat-label>
            <input  matInput  class="inputs" name="username" [(ngModel)]="username" >
          </mat-form-field>
          <mat-form-field>
              <mat-label >Password</mat-label>
              <input  matInput name="password" class="inputs" type="password" [(ngModel)]="password" >
            </mat-form-field>
            <button mat-raised-button type="button" color="warn" class="button" (click)="loginNow(username, password)" >Login</button> 
            <a routerLink="/signup" class="alink">You don't have an account? Sign up</a>   
        </form>

        

  </mat-card>
</div>