<div class="bigdiv" fxLayoutAlign="center center" fxFill>
  <img class="image" src="../../assets/image/background2.png" />
  <mat-card fxFlex="27" class="card">
    <mat-toolbar color="warn" fxLayoutAlign="center center" class="toolbar"
      >Sign up</mat-toolbar
    >
    <form
      #loginForm="ngForm"
      fxLayoutAlign="stretch"
      fxLayout="column"
      (ngSubmit)="loginUser()"
    >
      <small class="error"
        ><b>{{ message }}</b></small
      >
      <mat-form-field>
        <mat-label class="char">Username</mat-label>
        <input
          matInput
          name="username"
          class="inputs"
          [(ngModel)]="user.username"
          required
          #username="ngModel"
          [class.is-invalid]="username.invalid && username.touched"
        />
        <small
          class="text-danger"
          [class.d-none]="username.valid || username.untouched"
        >
          Username Field is required
        </small>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="char">Enter your password</mat-label>
        <input
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          type="password"
          [(ngModel)]="user.password"
          required
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <button
          class="hide"
          mat-icon-button
          matSuffix
          (Click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <small
          class="text-danger"
          [class.d-none]="password.valid || password.untouched"
        >
          Password Field is required
        </small>
      </mat-form-field>
      <button
        [disabled]="loginForm.invalid"
        mat-raised-button
        type="submit"
        color="warn"
        class="button"
      >
        Login
      </button>
      <div fxLayout="center center">
        <p class="char">You don't have an account?</p>
        <b><a routerLink="/signup" class="alink">Sign up</a></b>
      </div>
    </form>
  </mat-card>
</div>
