<div class="bigdiv" fxLayoutAlign="center center" fxFill>
  <img class="image" src="../../assets/image/background2.png" />
  <mat-card fxFlex="27" class="card">
    <mat-toolbar color="warn" fxLayoutAlign="center center" class="toolbar"
      >Sign up</mat-toolbar
    >
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput name="username" class="inputs" [(ngModel)]="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          class="inputs"
          type="password"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <button
        mat-raised-button
        type="button"
        color="warn"
        class="button"
        (click)="loginNow(username, password)"
      >
        Login
      </button>
      <a routerLink="/signup" class="alink"
        >You don't have an account? Sign up</a
      >
    </form>
  </mat-card>
</div>
