<img class="image" src="../../assets/image/background9.png" />
<h1><b>Form Details</b></h1>

<div
  *ngIf="form"
  class="container"
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <div id="id">
    {{ form.id }}
    <label> <b> :ID</b> </label><br />
  </div>

  <div id="moua">
    {{ form.mouaref }}
    <label>
      <b> :المعرف الوحيد</b>
    </label>
  </div>

  <div id="adad">
    <label>
      {{ form.adad_sejel }}
      <b> :عدد السجل التجاري القديم</b>
    </label>
  </div>
  <div id="tar">
    <label
      >{{ form.tarikh }}
      <b> :تاريخ إستخراج المضمون </b>
    </label>
  </div>
  <div>
    <label id="tas">
      <b> التسمية: </b>
      {{ form.tasmiya }}
    </label>
  </div>
  <div>
    <label id="tasla">
      {{ form.tasmiyaLatin }}
      <b> :بالالتينية التسمية </b>
    </label>
  </div>
  <div id="esmt">
    <label>{{ form.esmTijari }} </label>
    <b> :إسم التجاري </b>
  </div>
  <div id="esmtl">
    <label
      >{{ form.esmTijariLatin }}
      <b> :إلسم التجاري بالالتينية </b>
    </label>
  </div>
  <div id="mak">
    <label>{{ form.makarEjtima }} </label>
    <b> :المقر اإلجتماعي </b>
  </div>
  <div id="makna">
    <label>{{ form.makarNachat }} </label>
    <b> :مقر النشاط </b>
  </div>
  <div id="kano">
    <label>
      {{ form.nithamKanouni }}
    </label>
    <b> :النظام القانوني </b>
  </div>
  <div id="ras">
    <label
      >{{ form.rasMal }}
      <b> :رأس المال</b>
    </label>
  </div>
  <div id="adadf">
    <label
      >{{ form.adadFar }}
      <b> :عدد الفروع</b>
    </label>
  </div>
  <div id="nara">
    <label>{{ form.nachatRaisi }} </label>
    <b> :النشاط الرئيسي</b>
  </div>
  <div id="tarn">
    <label
      >{{ form.tarikhBideyetNachat }}
      <b> :تاريخ بداية النشاط </b>
    </label>
  </div>
  <div id="tarech">
    <label>
      {{ form.tarikhEchhar }}
      <b> :تاريخ الاشهار</b>
    </label>
  </div>
  <div id="modat">
    <label
      >{{ form.modatCharika }}
      <b> :مدة الشركة</b>
    </label>
  </div>

  <br /><br />

  <button (click)="gotolist()" class="btn btn-primary">Go Back</button><br />
</div>
