<img class="image" src="../../assets/image/background6.png" />
<div class="big">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"></div>

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card-body">
        <mat-form-field class="option" appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="labels" id="moua">المعرف الوحيد</label>
              <input type="text" class="form-control" id="fullName" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="labels" for="eMail">عدد السجل التجاري القديم</label>
              <input type="email" class="form-control" id="eMail" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="labels" for="phone">تاريخ إستخراج المضمون</label>
              <input type="text" class="form-control" id="phone" />
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="tas"> التسمية</label>
              <input type="url" class="form-control" id="website" />
            </div>
          </div>
        </div>
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="taslat">بالالتينية التسمية</label>
              <input type="name" class="form-control" id="Street" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="tastij">إسم التجاري</label>
              <input type="name" class="form-control" id="ciTy" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="esemtij">إلسم التجاري بالالتينية</label>
              <input type="text" class="form-control" id="sTate" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="makar">المقر اإلجتماعي</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="makarnach">مقر النشاط</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="nitham">النظام القانوني</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="ras">رأس المال</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="adad">عدد الفروع</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="nachra">النشاط الرئيسي</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="bid">تاريخ بداية النشاط</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="tar">الشهار تاريخ</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label id="modet">مدة الشركة</label>
              <input type="text" class="form-control" id="zIp" />
            </div>
          </div>
        </div>

        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text-right">
              <button
                type="button"
                id="submit"
                name="submit"
                class="btn btn-secondary"
              >
                Cancel
              </button>
              <button
                type="button"
                id="submit"
                name="submit"
                class="btn btn-primary"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
