<img class="image" src="../../assets/image/background7.png" />
<div class="big">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"></div>

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <mat-form-field class="option" appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select
          [(value)]="selectValue"
          disableRipple
          (selectionChange)="onChange($event.value)"
        >
          <mat-option value="rne">RNE</mat-option>
          <mat-option value="cin">CIN</mat-option>
          <mat-option value="passport">PASSPORT</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="card-body">
        <form #addform="ngForm" (ngSubmit)="addFormFromSubmit()">
          <!-- start of RNE form-->
          <div *ngIf="selectValue == 'rne'">
            <div class="uploadFile">
              <input type="file" (change)="imageChoice($event)" />
              <button
                type="button"
                class="uploadButton"
                (click)="sendFile(image)"
              >
                Scan Document
              </button>
            </div>
            <mat-progress-bar
              class="spinner"
              *ngIf="showSpinner"
              mode="indeterminate"
            ></mat-progress-bar>

            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="moua">المعرف الوحيد</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    [(ngModel)]="form.mouaref"
                    name="mouaref"
                  />
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="adadT" for="eMail"
                    >عدد السجل التجاري القديم</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="eMail"
                    [(ngModel)]="form.adad_sejel"
                    name="adad_sejel"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="tarikhEs" for="phone"
                    >تاريخ إستخراج المضمون</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    [(ngModel)]="form.tarikh"
                    name="tarikh"
                  />
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="tas"> التسمية</label>
                  <input
                    type="url"
                    class="form-control"
                    id="website"
                    [(ngModel)]="form.tasmiya"
                    name="tasmiya"
                  />
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="taslat">بالالتينية التسمية</label>
                  <input
                    type="name"
                    class="form-control"
                    id="Street"
                    [(ngModel)]="form.tasmiyaLatin"
                    name="tasmiyaLatin"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="tastij">إسم التجاري</label>
                  <input
                    type="name"
                    class="form-control"
                    id="ciTy"
                    [(ngModel)]="form.esmTijari"
                    name="esmTijari"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="esemtij">إلسم التجاري بالالتينية</label>
                  <input
                    type="text"
                    class="form-control"
                    id="sTate"
                    [(ngModel)]="form.esmTijariLatin"
                    name="esmTijariLatin"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="makar">المقر اإلجتماعي</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.makarEjtima"
                    name="makarEjtima"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="makarnach">مقر النشاط</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.makarNachat"
                    name="makarNachat"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="nitham">النظام القانوني</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.nithamKanouni"
                    name="nithamKanouni"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="ras">رأس المال</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.rasMal"
                    name="rasMal"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="adad">عدد الفروع</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.adadFar"
                    name="adadFar"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="nachra">النشاط الرئيسي</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.nachatRaisi"
                    name="nachatRaisi"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="bid">تاريخ بداية النشاط</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.tarikhBideyetNachat"
                    name="tarikhBideyetNachat"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="tar">الشهار تاريخ</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.tarikhEchhar"
                    name="tarikhEchhar"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="modet">مدة الشركة</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zIp"
                    [(ngModel)]="form.modatCharika"
                    name="modatCharika"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- start of CIN form-->
          <div *ngIf="selectValue == 'cin'">
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="last_name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="firstName">First Name</label>
                  <input
                    type="email"
                    class="form-control"
                    id="eMail"
                    name="first_name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="date">Date of birth</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="date_birth"
                  />
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="cinNumber"> Cin Number</label>
                  <input
                    type="url"
                    class="form-control"
                    id="website"
                    name="cin_number"
                  />
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="placeBirth">Place of Birth</label>
                  <input
                    type="name"
                    class="form-control"
                    id="Street"
                    name="place_birth"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="occu">Occupation</label>
                  <input
                    type="name"
                    class="form-control"
                    id="ciTy"
                    name="occupation"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></div>
            </div>
          </div>
          <!-- end of CIN form-->
          <!-- start of Passport form-->
          <div *ngIf="selectValue == 'passport'">
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="last_name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="firstName">First Name</label>
                  <input
                    type="email"
                    class="form-control"
                    id="eMail"
                    name="first_name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label class="labels" id="nat">Nationality</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="nationality"
                  />
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="natNumber"> National Number</label>
                  <input
                    type="url"
                    class="form-control"
                    id="website"
                    name="national_num"
                  />
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"></div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="addr">Address</label>
                  <input
                    type="name"
                    class="form-control"
                    id="Street"
                    name="addr"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label id="ocuu">Occupation</label>
                  <input
                    type="name"
                    class="form-control"
                    id="ciTy"
                    name="occupation"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- end of Passport form-->
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button
                  type="button"
                  id="submit"
                  name="submit"
                  class="btn btn-secondary"
                  routerLink="/formlist"
                >
                  Cancel
                </button>
                <button
                  type="sumbit"
                  id="submit"
                  name="submit"
                  class="btn btn-primary"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
