<div class="bigdiv" fxLayoutAlign="center center" fxFill>
  <img class="image" src="../../assets/image/background3.png" />
  <mat-card fxFlex="27" class="card">
    <mat-toolbar color="warn" fxLayoutAlign="center center" class="toolbar"
      >Sign up</mat-toolbar
    >
    <form
      #registerForm="ngForm"
      (ngSubmit)="registerUser()"
      fxLayoutAlign="stretch"
      fxLayout="column"
    >
      <small [class.text-danger] class="creation">
        {{ message }}
      </small>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          name="username"
          matInput
          required
          class="inputs"
          [(ngModel)]="user.username"
          #username="ngModel"
          [class.is.invalid]="username.invalid && username.touched"
        />
        <small
          class="text-danger"
          [class.d-none]="username.valid || username.untouched"
        >
          Username field is required
        </small>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="user.email"
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
          name="email"
          matInput
          class="inputs"
          type="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <div *ngIf="email.errors && email.invalid && email.touched">
          <small class="text-danger" *ngIf="email.errors.required">
            Email field is required
          </small>

          <small class="text-danger" *ngIf="email.errors.pattern">
            Email must be valid
          </small>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          class="inputs"
          type="password"
          [(ngModel)]="user.password"
          required
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <small
          class="text-danger"
          [class.d-none]="password.valid || password.untouched"
        >
          Password Field is required
        </small>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          name="confirmPassword"
          matInput
          class="inputs"
          type="password"
          (ngModel)="(user.password)"
          #confirmPassword="ngModel"
          required
          [class.is-invalid]="
            confirmPassword.invalid && confirmPassword.touched
          "
        />
        <small
          class="text-danger"
          [class.d-none]="
            confirmPassword.value == password.value || confirmPassword.untouched
          "
        >
          Must match password
        </small>
      </mat-form-field>

      <button
        [disabled]="registerForm.form.invalid"
        mat-raised-button
        type="submit"
        color="warn"
        class="button"
      >
        Register
      </button>

      <div fxLayout="center center">
        <p>You already have an account?</p>
        <b><a routerLink="/signin" class="alink">Sign in</a></b>
      </div>
    </form>
  </mat-card>
</div>
