.image{
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 990px;
    width: 100%;
    height: auto ;
    position: fixed;
    top: 0;
    left: 0;
    
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

.inputs{
    padding: 4px;
    font-family: Montserrat;
    
}

.toolbar{
    font-family: Montserrat;
    margin-bottom: 10px;
}

.button{
    font-family: Montserrat;
    margin-top: 20px;
}

.alink{
    font-family: Montserrat;
    margin-top: 10px;
}

p{
    font-size: 15px;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    padding-top: 12px;
    color: black;
   
}
a{
    font-size: 14px;
    position: relative;
    top: 21px;
    left: 5px;

}

.creation{
    color: rgb(120, 216, 17);
    font-size: 14px;
    position: relative;
    right: 1px;
}

